div {
    background-color: hsl(0, 0%, 31%);
    color: rgb(0, 0, 0);
    display: block;
    width: 200px;
    height: 120px;
    overflow: auto;
    padding: 10px;
    border: solid 2px orange;
    box-sizing: border-box;
}

#A {
    background-color: red;
}

#B {
    background-color: blue;
    padding: 20px 10px 5px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#C {
    background-color: green;
}